body
{
background-color:#f2f2f2;
}
h1
{
  text-align: center;
}
.col-lg-8
{
    box-shadow: 5px 10px 18px #888888;
    background-color: white;
    margin-top: 10%;
    padding: 3%;

}
.col-lg-8 p
{
  text-align: center;
}

.search
{
  margin-left: auto;
}