h1
{
  text-align: center;
}


.col-lg-8
{
    box-shadow: 5px 10px 18px #888888;
    background-color: white;
   
    padding: 3%;

}
.col-lg-8 p
{
  text-align: center;
}
/*header css*/
.bs-example
    {
        box-shadow: 5px 10px 18px #888888;
         
    }
