/*signup and login page css*/
body
{
background-color:#f2f2f2;
}
h1
{
	text-align: center;
}


.col-lg-8
{
    box-shadow: 5px 10px 18px #888888;
    background-color: white;
    padding: 3%;

}
.col-lg-6
{
    box-shadow: 5px 10px 18px #888888;
    background-color: white;
}
.table-responsive
    {
        overflow-x:auto;
        overflow-y:hidden;
    }
.col-lg-8 p
{
  text-align: center;
}

/*home page css*/
.bs-example
{
   box-shadow: 5px 10px 18px #888888;
    background-color: white;
}

/*slider css*/
.carousel-inner img
{
  height: 100%;
  width: 100%;
}


/*footer css*/
.mini-footer
 {
 background:#192027;
 text-align:center;
 height: 10%;
 width: 100%;
 position: absolute;
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
